.order-table .header .col {
    background-color:#ddd;
}

.order-table .col {
    border: solid 1px #ccc;
    border-bottom-style: none;
    border-right-style: none;
    background: white;
    min-width: 100px;
}

.order-table .col:last-child {
    border-right: solid 1px #ccc;
}

.order-table .row:last-child .col {
    border-bottom: solid 1px #ccc;
}
.responsive-sm.books .col, .responsive-sm.books .col-10, .responsive-sm .col-20, .responsive-sm .col-25, .responsive-sm .col-33, .responsive-sm .col-34, .responsive-sm .col-50, .responsive-sm .col-66, .responsive-sm .col-67, .responsive-sm .col-75, .responsive-sm .col-80, .responsive-sm .col-90 {
    margin-bottom : 0;
    }
    