.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.article {
    text-align: left;
    padding: 5px 0 0 0;
}

header {background: black;color:white;}
footer {background: #aaa;color:white;}
.nav {background:#eee;}

.nav ul {
    list-style-type: none;
    padding: 0;
}
.nav ul a {
    text-decoration: none;
}

@media all and (min-width: 768px) {
    .nav {text-align:left;-webkit-flex: .5 auto;flex:.5 auto;-webkit-order:1;order:1;}
    .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    footer {-webkit-order:3;order:3;}
}

.left-nav {
    /* height: 100%; */
    background: white;
    overflow-y: scroll;
}
.left-nav-ul li {
     padding: 5px;
}

.left-nav-ul li a {
    font-size: 14 px;
    color: #8E8E93;
   
}

.left-nav-ul li a:active {
    color: #2C3D52;
}
.left-nav-ul li a:hover {
    color: #2C3D52;
}

.book-detail-grid{ 
   display: inline-block;
   width: 23.5%;
   margin: 5px 0 0 5px;
}


/* For mobile phones: */
[class*="book-detail-grid"] {
    width: 96%;
}
@media only screen and (min-width: 540px) {
    /* For tablets: */
    .book-detail-grid {width: 48%;}
    /* .cart-col {text-align: right;} */
}
@media only screen and (min-width: 720px) {
    /* For desktop: */
    .book-detail-grid {width: 48%;}
}
@media only screen and (min-width: 960px) {
    /* For desktop: */
    .book-detail-grid {width: 31%;}
}
@media only screen and (min-width: 1140px) {
    /* For desktop: */
    .book-detail-grid {width: 23.5%;}
}

.article h2, .article p {
    overflow: hidden;
    white-space: nowrap;
}

.left-nav-ul li a.selected {
    color: #2C3D52;
}

.col.pagination-col {
    border: 1px solid blue;
    width: 30px;
    text-align: center;
    display: inline-block;
}
.pagination {
   margin: 10px 0;
}

.page-item {
    float: left;
    padding: 12px;
    border: 1px solid #dddddd;
    text-decoration: none;
    background: #ffffff;
    cursor: pointer;
}

.page-item-previous {
    border-radius: 5px 0 0 5px;
}

.page-item-next {
    border-radius: 0 5px 5px 0;
}

.page-item a {
    text-decoration: none;
}

.page-item:hover, .page-item:hover a {
    background: #3A95D6;
    color: #ffffff;
}

.page-item.disabled,.page-item.disabled a {
    background: #ffffff;
    color: #a2a2a2;
}

.page-item-activated, .page-item-activated a {
    background: #3A95D6;
    color: #ffffff;
}

