<!-- <ion-view hide-back-button="true" hide-nav-bar="true"> -->




<!------------------- banner ------------------------------>

<!--style="padding:0 5%"  -->
<div class="list card">
  <div class="item item-image">
    <img src="app/assets/images/banner.jpg" class="banner-img" />
  </div>
</div>

<!------------------- banner ------------------------------>

<!------------------- main content ------------------------------>

<!-- Favorites -->
<div class="row header-row">
  <div class="col text-left">
    <h3>Favorites</h3>
  </div>
  <div class="col text-right">
    <button class="button button-stable" ng-click="goToGrid()">
        VIEW ALL
        </button>
  </div>
</div>

<div class="grid-container">
  <div ng-repeat="book in books.newReleasesList track by $index" class="book-grid" ng-click="toDetails(book)">
    <div class="item item-text-wrap no-padding text-center">
      <div class="item item-body">
        <img class="full-image" ng-src="http://loremflickr.com/320/240?random={{$index}}" />
       
        <h2 class="text-wrap"> {{ book.name}} </h2>
        <p class="text-wrap">
          {{ book.author}}
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Favorites -->


<!-- <ion-slides slider="swiper" options="swiperOptions">
  <ion-slide-page>
    <div class="grid-container">
      <div ng-repeat="book in books.newReleasesList track by $index" class="book-grid">
        <div class="item item-text-wrap no-padding text-center">
          <div class="item item-body">
            <img class="full-image" ng-src="http://loremflickr.com/320/240?random={{$index}}" />
            <p>
              Christophor Nolan
            </p>

            <h2> Cinema </h2>

          </div>
        </div>
      </div>
    </div>
  </ion-slide-page>
 
</ion-slides> -->






<!------------------- main content ------------------------------>



<!-- </ion-view>  -->