 <!-- <ion-view hide-back-button="true" hide-nav-bar="true"> -->




<!------------------- banner ------------------------------>

<!--style="padding:0 5%"  -->
<div class="list card">
  <div class="item item-image">
    <img src="app/assets/images/banner.jpg" class="banner-img" />
  </div>
</div>

<!------------------- banner ------------------------------>

<!------------------- main content ------------------------------>
<div class="row">
  <div class="col col-center">
    <h3>TOP CATEGORIES</h3>
  </div>
  <div class="col col-center text-right">
    <button class="button" ng-click="goToGrid(1)">
        VIEW ALL
        </button>
  </div>
</div>
<div>
  <div ng-repeat="book in books.newReleasesList track by $index" class="card book-grid">
    <div class="item item-text-wrap no-padding text-center">
      <div class="item item-body">
        <img class="full-image" ng-src="http://loremflickr.com/320/240?random={{$index}}" />
        <p>
          Christophor Nolan
        </p>

        <h2> Cinema </h2>

      </div>
    </div>
  </div>
</div>


<!------------------- main content ------------------------------>



<!-- </ion-view>  -->