<!------------------- main content ------------------------------>

<div class="flex-container match-parent">
  <nav class="card cardview nav left-nav">
    <ul class="left-nav-ul">

      <li ng-click="fetchCategory(item.name)" ng-repeat="item in books.categoryList" >
        <a href="#">{{item.name}}</a>
      </li>

    </ul>
  </nav>

  <article class="article">
    <div ng-repeat="book in books.newReleasesList track by $index" class="book-detail-grid" ng-click="toDetails(item)">
      <div class="item item-text-wrap no-padding text-center">
        <div class="item item-body">
          <img class="full-image" ng-src="http://loremflickr.com/320/240?random={{$index}}" />
          <h2 class="text-wrap"> {{ book.name}} </h2>
          <p class="text-wrap">
            {{ book.author}}
          </p>

        </div>
      </div>
    </div>
  </article>

</div>


<!------------------- main content ------------------------------>