.approval .item p:last-child {
    margin-bottom: 8px;
}

.approve-report-details-accordion-up-icon {
  width: 14px;
  height: auto;
  background-size: 50% 50%;
  content: url(images/up-arrow-icon.png)
}

.approve-report-details-accordion-down-icon {
  width: 14px;
  height: auto;
  background-size: 50% 50%;
  content: url(images/down-arrow-icon.png)
}

.approve-report-details-accordion-right-icon {
  width: 14px;
  height: auto;
  background-size: 50% 50%;
  content: url(images/down-arrow-icon.png);
  transform:rotate(-90deg);
  margin-right:-3px;
}
.approve-report-details-textarea {
  height: 100px;
  width: 100%;
  font-size: 16px;
}
.approve-report-details-approve-icon{
    height: 32px;
    width: 32px;
    content: url(images/icon-approve.png)
}
.approve-report-details-more-info-icon{
    height: 32px;
    width: 32px;
    content: url(images/icon-more-info.png)
}
.approve-report-details-reject-icon{
    height: 32px;
    width: 32px;
    content: url(images/icon-reject.png)
}
.approve-report-details-footer{
    height: 80px;
}
.approve-report-details-footer-align{
    bottom:80px;
}
.approve-report-details-save-button.button-clear.button-clear{
    color: white;
    font-weight: 400;
}
.approve-report-details-attachment-tab{
    padding-left: 10px;
    padding-right: 10px;
}
.approve-report-details-attachment-list {
    border-bottom: 1px solid lightgray;
}
.approve-report-details-arrow-right{
    float:right;
    margin-right:0px;
}
.approve-report-details-attachment-div{
    background-color: #fff;
}
.approve-report-details-info-right{
    margin-right:5px;
}

.expense-info {
    padding: 10px 15px;
    background: #e1edf4;
}
.approve_ic_close{
    height:24px;
    width:24px;
    
}
.reports-tab{
    height:45px;
    background: #ffffff;
    text-align:center;
}
.active-reports-tab{
    color:#1e79c2;
    
    border-bottom:2px solid #1e79c2;
    line-height:44px;
}
