<!------------------- main content ------------------------------>
<div ng-if="cartList.length>0" class="row padding ">
  <span class="text-black text-17">Shopping Cart</span>
  <span class="padding-left-5 text-label text-14">  ({{cartList.length}} Item) </span>
</div>
<div class="row">
  <div class="col books">

    <!-- table -->
    <div class="order-table">
      <!-- <div class="row header">
        <div class="col">Name</div>
        <div class="col">Category</div>
        <div class="col">Author</div>
        <div class="col"></div>
        <div class="col"></div>
      </div> -->
      <div class="row" ng-repeat="book in cartList track by $index">
        <div class="col col-10">{{$index+1}}</div>
        <div class="col">{{book.name}}</div>
        <div class="col">{{book.author}}</div>
        <div class="col">{{book.category}}</div>
        <div class="col text-center">
          <button class="button button-assertive table-btn" ng-click="removeItem($index)">Remove</button>
        </div>
        <div class="col text-center">
          <button class="button button-balanced  table-btn" ng-click="orderItem(book,$index)">Order Now</button>
        </div>

      </div>
    </div>
    <!-- table -->

    <div class="row" ng-hide="cartList.length > 0">
      <div class="col text-center">
        Your cart is empty
      </div>
    </div>

  </div>
</div>








<!------------------- main content ------------------------------>