<!------------------- main content ------------------------------>

<div class="row">
  <div class="col">

    <!-- table -->
    <div class="order-table">
      <!-- <div class="row header">
        <div class="col">Name</div>
        <div class="col">Category</div>
        <div class="col">Author</div>
        <div class="col"></div>
        <div class="col"></div>
      </div> -->
      <div class="row">
        <div class="col">Mia kulpa</div>
        <div class="col">Fiction</div>
        <div class="col">Mary</div>
        <div class="col text-center">
          <button class="button button-balanced  table-btn" ng-click="ctrl.add($index)">Order Now</button>
        </div>
        <div class="col text-center">
          <button class="button button-assertive table-btn" ng-click="ctrl.add($index)">Remove</button>
        </div>
      </div>
      <div class="row">
        <div class="col">Mia kulpa</div>
        <div class="col">Fiction</div>
        <div class="col">Mary</div>
        <div class="col text-center">
          <button class="button button-balanced table-btn" ng-click="ctrl.add($index)">Order Now</button>
        </div>
        <div class="col text-center">
          <button class="button button-assertive table-btn" ng-click="ctrl.add($index)">Remove</button>
        </div>
      </div>
    </div>
    <!-- table -->

  </div>
</div>








<!------------------- main content ------------------------------>