<ion-view hide-back-button="true" hide-nav-bar="true">

  <ion-content scroll="false">
    <!------------------- Header container  ------------------>

    <div ng-show="false" class="bar-container-top">
      <div class="col text-right no-padding">
        <span ng-click="toAccount()">ACCOUNT</span>
        <!-- <span>CONTACT</span> -->
        <span ng-click="performLogout()">LOGOUT</span>
      </div>
    </div>

    <div class="row responsive-sm row-center bar-container">
      <div ng-click="toHome()" class="col col-25 text-center col-center cursor-pointer ">
        <span class="logo">PETER BOOK HOUSE</span>
      </div>
      <div class="col text-right">
        <div class="row  row-center header-search-container">
          <input type="text" ng-model="data.searchString" placeholder="Search by Category/Author/Books." class="header-search-input"
          />
          <!-- <a class="header-search-close icon ion-close-circled placeholder-icon icon-close-txt" ng-click="report.searchString = ''; searchClicked()"
            ng-show="report.searchString.length">
          </a> -->
          <button ng-disabled="report.isLoading" class="header-search-btn button button-icon icon ion-ios-search-strong" ng-click="doSearch()">
          </button>
        </div>
      </div>
      <div class="col col-25 col-center cart-col no-padding">


        <button class="button ion-android-contact icon-right header-cart-btn" ng-click="toAccount()">
          User
          </button>

        <button class="button ion-ios-cart icon-right header-cart-btn" ui-sref="store.cart">
        Cart
        </button>



        <button class="button button-assertive ion-log-out icon-right " ng-click="performLogout()">
            <!-- Logout -->
            </button>
      </div>
      <!-- <div class="col col-10 col-center text-center"> <button class="button ion-person header-cart-btn">
        Sign in
        </button>
      </div> -->
    </div>


    <!------------------- Header container  ------------------>

    <div class="custom-content " ui-view="content"></div>

    <!-- <div class="row">
      <div class="col col-center text-right">
          Copyright © 2017, Peter Book House. All Rights Reserved
      </div>
    </div> -->

  </ion-content>

</ion-view>