<ion-view hide-back-button="true" hide-nav-bar="true">

  <ion-content scroll="false">
    <!------------------- Header container  ------------------>

    <div class="bar-container-top">
      <div class="col text-right no-padding">
        <span ui-sref="home.account">ACCOUNT</span>
        <span>CONTACT</span>
        <span>LOGIN</span>
      </div>
    </div>

    <div class="row responsive-sm row-center bar-container">
      <div ui-sref="home.list" class="col col-25 text-center col-center">
        <span class="logo">PETER BOOK HOUSE</span>
      </div>
      <div class="col text-right">
        <div class="row  row-center header-search-container">
          <input type="text" ng-model="data.searchString" placeholder="Search books.." class="header-search-input" />
          <!-- <a class="header-search-close icon ion-close-circled placeholder-icon icon-close-txt" ng-click="report.searchString = ''; searchClicked()"
            ng-show="report.searchString.length">
          </a> -->
          <button ng-disabled="report.isLoading" class="header-search-btn button button-icon icon ion-ios-search-strong" ng-click="doSearch()">
          </button>
        </div>
      </div>
      <div class="col col-20 col-center cart-col no-padding">
        <button class="button ion-ios-cart icon-right header-cart-btn">
        Cart
        </button>
      </div>
      <!-- <div class="col col-10 col-center text-center"> <button class="button ion-person header-cart-btn">
        Sign in
        </button>
      </div> -->
    </div>


    <!------------------- Header container  ------------------>

    <div class="custom-content " ui-view="content"></div>

  </ion-content>

</ion-view>