.my-report-list h5,.my-report-list p{
 margin: 3px 3px 3px 0;
 font-size: 15px;
}

.my-report-list h3{
 margin-bottom: 5px;
}

.reportList .item-input-wrapper {
    background: white;
}

.sub-header .search-txt{
    width:95%;
}
.sub-header .icon-close-txt{
    padding: 5px;
}
.sub-header .item-input-inset{
    padding: 0px 5px;
}
.reportListScroll{
    top:60px;
}

.platform-ios .reportListScroll {
    top:80px;
}

.filter-icon.ion-android-funnel::before{
color: white;
}
.filter-button:hover{
    color: white;
    text-decoration: none;
}
.filter-button,
.filter-button .icon:before{
font-size: 20px !important;
}

.line-yellow {
    height: 50px;
    width: 5px;
    background-color: #f7ca10;
    border-radius:15px;
    margin: 10px 0;
}

.line-red {
    height: 50px;
    width: 5px;
    background-color: #f26667;
    border-radius:15px;
    margin: 10px 0;
}

.line-green {
    height: 50px;
    width: 5px;
    background-color: #74f14e;
    border-radius:15px;
    margin: 10px 0;
}
.line-blue {
    height: 50px;
    width: 5px;
    background-color: #1e79c2;
    border-radius:15px;
    margin: 10px 0;
}

.line-grey {
    height: 50px;
    width: 5px;
    background-color: #a2bcc9;
    border-radius:15px;
    margin: 10px 0;
}

.line-brown {
    height: 50px;
    width: 5px;
    background-color: brown;
    border-radius:15px;
    margin: 10px 0;
}

.line-darkGreen {
     height: 50px;
    width: 5px;
    background-color: #269c0f;
    border-radius:15px;
    margin: 10px 0;
    
}

.icon-yellow{
    color:yellow;
}
.reports-with-filter{
    top:110px;
}
.create-report {
  width: 5px;
  height: auto;
  background-size: 50% 50%;
  content: url(images/ic_create.png)
}
