.dashboard-container{
    background: linear-gradient(to bottom, #990000, #C32E27);
}
.dashboard-profile-img{
    width: 70px;
    height: auto;
    border-radius: 50%;  
    border: 6px solid #93607B; 
}
.dashboard-profile-name{
    color: white;
    font-size: 13pt;
    font-weight: bold;
}
.dashboard-job-title{
    color: white;
    font-size: 10pt;
    font-weight: 500
}
.dashboard-tile-container{
    background: white;
    border-radius:5px; 
    margin: 10px;
    padding: 10px;
}
.service-list-item{
    height: 70px !important;
    min-height: 0 !important;
}
.service-title-container{
    font-size: 10pt;
    font-weight: 600;
    margin-bottom: 10px;
}
.service-icon-container{
    font-size: 10px;
    text-align: center;
}
.service-icon{
    min-height: 50px;
}
.service-icon img{
    width: 43px;
    height: 43px;
    margin-bottom: 8px;
}
.graph-container{
    font-size: 10px;
}
.other-service-container{
    /*font-size: 10px;*/
    height:80px;
}
.otherservice .service-title-container{
    margin:0 !important; 
}
.service-list-icon{
    height: 28px;
    width: 24px;
}
.service-list-item md-list-item.md-3-line, md-list-item.md-3-line > .md-no-style {
    height: 70px !important;
    min-height: 0 !important;
}
.other-service-item-title{
    font-size: 17px !important;
    font-weight: 500;
    line-height: 23px;
}
.other-service-item-desc{
    font-size: 13px !important;
    color: #000000;
}
.other-service-container md-list-item md-divider{
    margin-left: 55px;
}
.graph-container .swiper-container{
    height: 240px;
}
.graph-tile-container{
    min-height: 220px;
}
.header-logoutBtn{
    width: 20px !important;
    height: 20px !important;
    margin-top: 8px;
}
.header-settingsBtn{
    width: 20px !important;
    height: 20px !important;
    margin-top: 8px;
}
.other-service-divider{
    margin-left: 10px;
    padding-left: 0px;
    /*border-bottom: 1px solid lightgrey;*/
}
.arrow-icon{
    width: 6px;
    height: 9px;
}

/*no-gradient bar for dashboard*/
.bar-dashboard {
background: #990000;
} 

.swiper-pagination-bullet-active {
    background: #990000;
}