<ion-view view-title="{{ 'DASHBOARD_TITLE' | translate}}" hide-back-button="true">
  <ion-nav-bar class="bar bar-header bar-dashboard bar-no-border">
    <ion-nav-buttons side="secondary">
      <!--<button class="button button-clear right-10-margin">
          <img ng-src="{{imgPath}}ic_settings@2x.png" class="header-settingsBtn"/>
    </button>-->
      <button class="button button-clear" ng-click="performLogout()">
          <img ng-src="{{imgPath}}ic_logout@2x.png" class="header-logoutBtn"/>
    </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="dashboard-container ios-content-margin">
    <div class="row row-center">
      <div class="col col-center text-center">
        <img class="dashboard-profile-img" data-ng-src="{{profile.profileInfo.image.length ? 'data:image/png;base64,'+profile.profileInfo.image : sharedPath+'avatarProfile.png'}}">
      </div>
    </div>
    <div class="row row-center">
      <div class="col col-center text-center no-padding">
        <span class="dashboard-profile-name">{{profile.profileInfo.fullName}}</span>
      </div>
    </div>
    <div class="row row-center">
      <div class="col col-center text-center no-padding">
        <span class="dashboard-job-title">{{profile.profileInfo.jobName}}</span>
      </div>
    </div>
    <div class="row row-center">
      <div class="col col-center text-center no-padding">

        <span class="dashboard-job-title">Employee Code : {{profile.profileInfo.employeeNumber}}</span>

      </div>
    </div>

    <!--Dashboard Title Container-->
    <!--
    <div class="dashboard-tile-container">
      <div class="row row-center service-title-container">{{ 'DASHBOARD_MY_SERVICE' | translate}}</div>
      <div class="row row-center no-padding">
        <div class="col col-25 col-center no-padding service-icon text-center" ng-click="gotoFeature('myProfile')">
          <img ng-src="{{imgPath}}ic_my-profile@2x.png">
        </div>
        <div class="col col-25 col-center no-padding service-icon text-center" ng-click="gotoFeature('createAbsence')">
          <img ng-src="{{imgPath}}ic_create-absence@2x.png">
        </div>
        <div class="col col-25 col-center no-padding service-icon text-center" ng-click="gotoFeature('worklistList')">
          <img ng-src="{{imgPath}}ic_worklist@2x.png">
        </div>
        <div class="col col-25 col-center no-padding service-icon text-center" ng-click="gotoFeature('offlineReview')">
          <img ng-src="{{imgPath}}ic_offline-review@2x.png">
        </div>
      </div>
      <div class="row row-center no-padding">
        <div class="col col-25 col-center no-padding service-icon-container text-center" ng-click="gotoFeature('myProfile')">
          <span>{{ 'DASHBOARD_MY_PROFILE' | translate}}</span>
        </div>
        <div class="col col-25 col-center no-padding service-icon-container text-center" ng-click="gotoFeature('createAbsence')">
          <span>{{ 'DASHBOARD_ABSENCE' | translate}}</span>
        </div>
        <div class="col col-25 col-center no-padding service-icon-container text-center" ng-click="gotoFeature('worklistList')">
          <span>{{ 'DASHBOARD_WORK_LIST' | translate}}</span>
        </div>
        <div class="col col-25 col-center no-padding service-icon-container text-center" ng-click="gotoFeature('offlineReview')">
          <span>{{ 'DASHBOARD_OFFLINE_REVIEW' | translate}}</span>
        </div>
      </div>
    </div>
   -->
    <!--Dashboard Title Container-->
    <div class="dashboard-tile-container graph-tile-container">
      <div class="row row-center">
        <div class="col col-center graph-container">
          <!--<ks-swiper-container slides-per-view="1" slides-per-column="1" space-between="0" pagination-is-active="true" pagination-clickable="false"
            show-nav-buttons="false" loop="false" initial-slide="0" direction="horizontal">-->
          <!--<ks-swiper-slide class="swiper-slide">-->
          <div class="row row-center no-padding">
            <div class="col col-67 col-center service-title-container no-padding">
              <span>{{ 'DASHBOARD_ABSENCE_MANGMT' | translate}}</span>
            </div>
            <div class="col col-33 col-center text-right service-title-container no-padding">
              <span>{{ 'DASHBOARD_COUNT' | translate}} {{absenceCount.total}}</span>
            </div>
          </div>
          <div>
            <canvas id="pie" class="chart chart-pie" chart-data="chartData.data.pieChart.data" chart-colors="chartData.data.pieChart.coloursGraph"
              chart-labels="chartData.data.pieChart.labels" chart-options="chartData.data.pieChart.options" width="300" height="150"></canvas>
          </div>
          <!--</ks-swiper-slide>-->
          <!--<ks-swiper-slide class="swiper-slide">
              <div class="row row-center no-padding left-3-padding">
                <div class="col col-67 col-center service-title-container no-padding">
                  <span>{{ 'DASHBOARD_RECRUIT_APPR' | translate}}</span>
                </div>
                <div class="col col-33 col-center text-right service-title-container no-padding">
                  <span>{{ 'DASHBOARD_COUNT' | translate}} 40</span>
                </div>
              </div>
              <div>
                <canvas id="bar" class="chart chart-bar" chart-data="chartData.data.barChart.dataGraph" chart-labels="chartData.data.barChart.labelsGraph"
                  chart-colors="chartData.data.barChart.coloursGraph" chart-series="chartData.data.barChart.series" chart-options="chartData.data.barChart.options"
                  height="150"></canvas>
              </div>
            </ks-swiper-slide>

          </ks-swiper-container>-->
        </div>
      </div>
    </div>
    <div class="dashboard-tile-container otherservice">
      <!--<div class="row row-center service-title-container">{{ 'DASHBOARD_OTHER_SERVICE' | translate}}</div>-->

      <div class="row other-service-container" ng-click="gotoFeature('createAbsence')">
        <div class="col col-10 col-center">
          <img ng-src="{{imgPath}}creatAbsence@2x.png" alt="" class="service-list-icon" />
        </div>
        <div class="col col-90 col-center other-service-divider">
          <div class="row row-center no-padding">
            <div class="col col-80 col-center">
              <p class="other-service-item-title no-margin">{{ 'DASHBOARD_ABSENCE' | translate}}</p>
              <p class="other-service-item-desc no-margin">{{ 'DASHBOARD_ABSENCE_SUBTITLE' | translate}}</p>
            </div>
            <div class="col col-center text-right">
              <img ng-src="{{imgPath}}rightArrow@2x.png" class="arrow-icon" />
            </div>
          </div>
        </div>
      </div>

      <div class="row other-service-container" ng-click="gotoFeature('worklistList')">
        <div class="col col-10 col-center">
          <img ng-src="{{imgPath}}approveAbsence@2x.png" alt="" class="service-list-icon" />
        </div>
        <div class="col col-90 col-center other-service-divider">
          <div class="row row-center no-padding">
            <div class="col col-80 col-center">
              <p class="other-service-item-title no-margin">{{ 'DASHBOARD_WORK_LIST' | translate}}</p>
              <p class="other-service-item-desc no-margin">{{ 'DASHBOARD_WORK_LIST_SUBTITLE' | translate}}</p>
            </div>
            <div class="col col-center text-right">
              <img ng-src="{{imgPath}}rightArrow@2x.png" class="arrow-icon" />
            </div>
          </div>
        </div>
      </div>

      <div class="row other-service-container" ng-click="gotoFeature('absenceSummaryList')">
        <div class="col col-10 col-center">
          <img ng-src="{{imgPath}}absenceList@2x.png" alt="" class="service-list-icon" />
        </div>
        <div class="col col-90 col-center other-service-divider">
          <div class="row row-center no-padding">
            <div class="col col-80 col-center">
              <p class="other-service-item-title no-margin">{{ 'DASHBOARD_ABSENCE_LIST' | translate}}</p>
              <p class="other-service-item-desc no-margin">{{ 'DASHBOARD_ABSENCE_LIST_SUBTITLE' | translate}}</p>
            </div>
            <div class="col col-center text-right">
              <img ng-src="{{imgPath}}rightArrow@2x.png" class="arrow-icon" />
            </div>
          </div>
        </div>
      </div>

      <div class="row other-service-container" ng-click="gotoFeature('leaveReturnAdvice')">
        <div class="col col-10 col-center">
          <img ng-src="{{imgPath}}leave_return@2x.png" alt="" class="service-list-icon" />
        </div>
        <div class="col col-90 col-center other-service-divider">
          <div class="row row-center no-padding">
            <div class="col col-80 col-center">
              <p class="other-service-item-title no-margin">{{ 'DASHBOARD_LEAVE_RETURN_ADVICE' | translate}}</p>
              <p class="other-service-item-desc no-margin">{{ 'DASHBOARD_LEAVE_RETURN_ADVICE_SUBTITLE' | translate}}</p>
            </div>
            <div class="col col-center text-right">
              <img ng-src="{{imgPath}}rightArrow@2x.png" class="arrow-icon" />
            </div>
          </div>
        </div>
      </div>

    </div>
    </div>
  </ion-content>
</ion-view>