<!------------------- main content ------------------------------>
  <article class="article">
    <div class="card">
      <div class="item item-text-wrap no-padding text-center">
        <div class="item item-body">
          <img class="full-image" ng-src="http://loremflickr.com/320/240?random={{$index}}" />
          <p>
            Detail view Appear here
          </p>

          <h2> content to follow </h2>

        </div>
      </div>
    </div>
</article>





<!------------------- main content ------------------------------>