<!------------------- main content ------------------------------>
<div class="row grid-container">
    <div class="col col-33">
        <div class="item item-text-wrap no-padding text-center">
            <div class="item item-body">
                <img class="full-image" ng-src="http://loremflickr.com/320/240?random=7" />
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row row-center">
            test row
        </div>
        <div class="row row-center">
            test row 2
        </div>
    </div>
</div>

<!------------------- main content ------------------------------>