<div class="card cardview">
  <div class="attachHeader item-divider row">
    <div class="col col-50 col-center ">
      <span class="text-input-value"> ATTACHMENTS </span>
    </div>

    <div ng-hide="iseditable === 'N' " class="attachAddMore col col-50 col-center text-right" ui-sref="addAttachment">
      <i class="icon ion-plus-circled attachrightPadding"> <span class="text-11"> Add More </span></i>

    </div>
  </div>
  <!--  <div class="list">-->
  <div class="item no-padding" ng-repeat="attachItem in attachList">
    <div class="row">
      <div class="attachrightPadding col col-20 col-center">
        <!--<button class="chip-orange">{{attachItem.fileContentType}}</button>-->
        <button class="chip-orange">{{getAttachmentType(attachItem)}}</button>
      </div>
      <div class="col col-60 text-left text-wrap col-center " ng-click="downloadAttachment(attachItem,$index)">
        <span>{{attachItem.title}} </span>
      </div>
      <div ng-hide="iseditable === 'N' " class="deleteAttachment col col-20 col-center text-right" ng-click="performDelete(attachItem,$index)">
        <i class="icon ion-trash-a"></i>
      </div>
    </div>
  </div>
  <!--  </div>-->
</div>