<ion-modal-view>
    <ion-header-bar class="bar-custom ">
        <h1 class="title">Register user</h1>
        <div class="buttons">
            <button class="button button-icon ion-android-close text-white" ng-click="closeSignupModal()">
            </button>
        </div>
    </ion-header-bar>

    <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close">test</span></div>
    <ion-content>
        <div class="card cardview">
            <div class="form-container">
                <form name="signUp">

                    <!-- Name-->
                    <div class="row row-center">
                        <div class="col cardview-text-label">Name
                            <span class="assertive"> * </span>
                        </div>
                        <div class="item item-input-inset ">
                            <span class="item-input-wrapper bg-white">
              <input name="name"  type="text" class="text-right" ng-model="user.name" placeholder="Enter name"  required/>
             
                                </span>
                        </div>
                    </div>


                    <!--Last Name-->
                    <!-- <div class="row row-center">
                    <div class="col cardview-text-label">Last Name
                    </div>
                    <div class="item item-input-inset ">
                        <span class="item-input-wrapper bg-white">
                  <input  type="text" class="text-right" ng-model="" placeholder="Last Name"  />
                                    </span>
                    </div>
                </div> -->

                    <!--Email-->
                    <div class="row row-center">
                        <div class="col cardview-text-label">Email
                            <span class="assertive"> * </span>
                        </div>
                        <div class="item item-input-inset ">
                            <span class="item-input-wrapper bg-white">
                  <input name="email" type="email" class="text-right" ng-model="user.email" placeholder="Enter email"  required/>
                                    </span>
                        </div>
                    </div>

                    <!--Password-->
                    <div class="row row-center">
                        <div class="col cardview-text-label">Password
                            <span class="assertive"> * </span>
                        </div>
                        <div class="item item-input-inset ">
                            <span class="item-input-wrapper bg-white">
                  <input name="password" type="password" class="text-right" ng-model="user.password" placeholder="Enter passsword"  required/>
                                    </span>
                        </div>
                    </div>

                    <!--Confirm Password-->
                    <div class="row row-center">
                        <div class="col cardview-text-label">Confirm Password
                            <span class="assertive"> * </span>
                        </div>
                        <div class="item item-input-inset ">
                            <span class="item-input-wrapper bg-white">
                  <input name="password_confirmation"  type="password" class="text-right" ng-model="user.password_confirmation" placeholder="Confirm password" required />
                                    </span>
                        </div>
                    </div>


                    <!--Address-->
                    <!-- <div class="row row-center">
                    <div class="col col-30 cardview-text-label">Address
                    </div>
                    <div class="col align-right text-light ">
                        <label class="item-input">
                                    <textarea  class="input-col text-input-value text-right" type="text" placeholder="Address" ng-model="Address" >
                                    </textarea>
                                 </label>
                    </div>
                </div> -->

                    <!--Captcha-->
                    <div class="row row-center last-row">
                        <div class="col cardview-text-label">

                            <div class="item item-input-inset ">
                                <span class="item-input-wrapper bg-white">
                                                <img ng-src="{{signup.captchaImageUrl}}" />
                                                <a class="button button-icon icon ion-loop text-blue" ng-click="refreshCaptcha()"></a>
                                                </span>
                            </div>


                        </div>
                        <div class="item item-input-inset ">
                            <span class="item-input-wrapper bg-white">
                            <input name="captcha"  type="text" class="text-right" ng-model="user.captcha" placeholder="Enter captcha" required />
                                              </span>

                        </div>

                    </div>
                </form>
            </div>

        </div>

        <div class="row row-center">
            <div class="col col-center text-center">
                <button ng-disabled="!signUp.$valid" class="button-light newUserButton" ng-click="doSignUp()">
                    SignUp
                </button>
            </div>
        </div>


    </ion-content>
</ion-modal-view>