.bar-container {
    background: #2C3D52;
    color: white;
    padding-right: 10px;
    /* height: 100px; */
}

.logo {
    font-size: x-large;
}

.header-search-container {
    padding: 0 80px;
}

.header-search-input {
    width: 100%;
}

input[type="text"] {
    padding-left: 5px;
}

.header-search-close {
    width: 50px;
    background: white;
    height: 34px;
    text-align: center;
}

.header-search-close.ion-close-circled:before{
    line-height: 34px;
}

.header-search-btn {
    width: 100px;
    background: #FDCB00;/*energized*/
    height: 34px;
    border: 0;
    border-radius: 0;
}

.button-icon.button.activated {
     background: #FDCB00;
}

.header-cart-btn {
    width: 100px;
     background: #2C3D52;
    height: 34px;
    border: 0;
    border-radius: 0;
    color: white;
    border: 1px solid #FDCB00;

}

.header-cart-btn.button:hover {
color: white;
}

.header-cart-btn.button.activated {
background: #2C3D52;
}

.bar-container-top {
    background: #263346;
    padding-right: 8px;
}

.bar-container-top span {
    border-left: 1px solid #FDCB00;
    color: white;
    padding: 0 5px;
    font-size: 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.bar-container-top span:hover {
    color: #FDCB00;
    transform: scale(1.1);
}

.header-search-btn.button {
    min-height: 34px;
}

.header-search-btn.button-icon.icon:before {
font-size: 20px;
line-height: 35px;
}

.banner-img {
    height: 300px;
}

.cart-col {
    text-align: center;
}

.header-row {
    padding-left: 15px;
}

.grid-container {
   text-align: left;
   padding-left:15px; 
   margin-bottom: 5px;
}

.book-grid{ 
   display: inline-block;
   width: 24%;
   margin: 5px 0 5px 5px;
   height: 300px;
}

/* For mobile phones: */
[class*="book-grid"] {
    width: 96%;
}
@media only screen and (min-width: 540px) {
    /* For tablets: */
    .book-grid {width: 48%;}
     .cart-col {text-align: right;} 
}
@media only screen and (min-width: 720px) {
    /* For desktop: */
    .book-grid {width: 48%;}
}
@media only screen and (min-width: 960px) {
    /* For desktop: */
    .book-grid {width: 32%;}
}
@media only screen and (min-width: 1140px) {
    /* For desktop: */
    .book-grid {width: 24%;}
}

.custom-content{
    height: calc(100% - 202px);
    overflow-y: scroll;
    padding: 0px;
    top: 0;
}

@media only screen and (min-width: 540px) {
    /* For tablets: */
    .custom-content {height: calc(100% - 82px);}

}

.grid-container h2, .grid-container p {
    overflow: hidden;
    white-space: nowrap;
}

.book-grid .full-image {
    /* width: 150px; */
}

.button.button-stable.viewall-btn {
    color: #1694e4;
}

