.cc-header-text{
    color: white;
    font-weight: normal;
    font-size: 19px;
    line-height: 37px;
}
.approve-report-details-footer.cc-footer{
    box-shadow:3px 0px 3px 0px darkgrey;
}
.cc-content-height{
    height: calc(100% - 120px);
}
.cc-checkmark{
    font-size:24px ! important;
    color:green ! important;
}
.cc-trash{
    font-size:24px;
    color:red;
}
.cc-person{
    font-size:24px;
    color:orange;
}