<ion-view view-title="Add Attachment">
  <ion-pane>

    <ion-content>
      <div class="card cardview ios-content-margin">

        <div class="item-input">
          <div class="row">
            <div class="col col-33 col-center">
              <span class="text-label"> Title </span>
            </div>
            <div class="align-right col col-66  column-border">
              <input type="text" class="no-border" placeholder="Enter Title" ng-model="attachmentDetails.title">
            </div>
          </div>
        </div>

        <div class="item-input" layout="column">
          <div class="row">
            <div class="col col-33">
              <span class="text-label"> Description </span>
            </div>
            <div class="col col-67 column-border">
              <textarea class="no-border attachment-textarea" placeholder="Enter Description" ng-model="attachmentDetails.description" maxlength="254"></textarea>
            </div>
          </div>
        </div>
        
        <div class="row" ng-if="attachmentDetails.attachmentName">
            <div class="col col-33 col-center">
              <span class="text-label"> Selected File: </span>
            </div>
            <div class="col col-66">
             <span class="text-black"> {{ attachmentDetails.attachmentName }}</span>
            </div>
        </div>
        
        <div class="row row-center media-picker-dimension" class="image-padding">
           <div class="col col-50 col-center text-center" ng-click="onChooseFromDeviceClick()">
            <i class="icon ion-images attachIconSize"></i>
            <h3 class="no-top-margin">Gallery</h3>
           </div>
           <div class="col col-50 col-center text-center" ng-click="onTakePhotoClick()">
            <i class="icon ion-camera attachIconSize"></i>
            <h3 class="no-top-margin">Camera</h3>
          </div>
        </div>

        <div class="card cardview-button-red">
          <button class="button button-block button-clear" ng-click="saveAttachment()">
                    Upload
                </button>
        </div>


    </ion-content>
  </ion-pane>
</ion-view>
