<!------------------- main content ------------------------------>

<div class="row">
  <div class="col col-33">
    <div class="col card cardview">

      <!-- Personal Details -->
      <div class="row row-center">
        <div class="col col-center">
          <!-- <img src="mcfly.jpg"> -->
          <h3>Sujith P Jose</h3>
          <p>9567661847</p>
        </div>
      </div>
      <!-- Address details -->
      <div class="row">
        <div class="col">
          <p>
            Pathilettu House <br/> Alpara Kannara P O </br> Thrissur
          </p>
        </div>
      </div>
    </div>

  </div>
  <div class="col">
    <div class="row no-padding">

      <!-- Order Details -->
      <div class="col">
        <!-- table -->
        <div class="order-table">
          <div class="row header">
            <div class="col">Id</div>
            <div class="col">Issued</div>
            <div class="col">Returned</div>
            <div class="col">Status</div>
            <div class="col"></div>
          </div>
          <div class="row">
            <div class="col">123</div>
            <div class="col">14-Nov-2017</div>
            <div class="col">18-Nov-2017</div>
            <div class="col">Delivered</div>
            <div class="col text-center">
                <button class="button button-assertive table-btn" ng-click="ctrl.add($index)">Cancel</button>
              </div>
          </div>
          <div class="row">
            <div class="col">124</div>
            <div class="col">14-Nov-2017</div>
            <div class="col">24-Nov-2017</div>
            <div class="col">Cancelled</div>
            <div class="col text-center">
                <button class="button button-assertive table-btn" ng-click="ctrl.add($index)">Cancel</button>
              </div>
          </div>
        </div>
        <!-- table -->

      </div>



    </div>
  </div>
</div>








<!------------------- main content ------------------------------>