<!------------------- main content ------------------------------>
<div class="row padding ">
  <span class="text-black text-17">User details</span>
</div>

<div class="row ">
  <div ng-if="account.hasProfile" class="col">
    <div class="col card cardview">

      <!-- Personal Details -->
      <div class="row row-center">
        <div class="col col-center">
          <!-- <img src="mcfly.jpg"> -->
          <span class="text-black text-19">{{profile.first_name+' ' + profile.last_name}}</span>
          <p>{{profile.phone}}</p>
        </div>
        <div class="col col-center text-right">
          <button ng-click="openUserprofileModal()" class="button icon-right ion-edit button-clear button-positive">
           
          </button>
        </div>
      </div>
      <!-- Address details -->
      <div class="row">
        <div class="col">
          <p>
            {{profile.address}}
          </p>
        </div>
      </div>
    </div>

  </div>



  <button ng-hide="account.hasProfile" ng-click="openUserprofileModal()" class="button icon-right ion-edit button-clear button-positive">
    Add profile
   </button>

</div>
  


<div class="row padding ">
    <span class="text-black text-17">My Rental details</span>
  </div>

<div class="row">
   <div class="col col-order-table">
    <div class="row no-padding">

      <!-- Order Details -->
      <div class="col">
        <!-- table -->
        <div class="order-table">
          <div class="row header">
            <div class="col col-10">Id</div>
            <div class="col">Created</div>
            <div class="col">Issued</div>
            <div class="col">Returned</div>
            <div class="col">Status</div>
            <div class="col"></div>
          </div>
          <!-- Order List -->
          <div class="row" ng-repeat="order in account.orderList">
            <div class="col col-10">{{order.id}}</div>
            <div class="col">{{order.created_at}}</div>
            <div class="col">{{order.issued_at}}</div>
            <div class="col">{{order.returned_at}}</div>
            <div class="col">{{order.status}}</div>
            <div class="col text-center">
              <button ng-disabled="order.status == 'CANCELLED'" class="button button-assertive table-btn" ng-click="cancelorder(order.id,$index)">Cancel</button>
            </div>
          </div>
        </div>
        <!-- table -->

      </div>



    </div>
  </div>
</div>








<!------------------- main content ------------------------------>