<!------------------- main content ------------------------------>

<!-- Personal Details -->
<div class="row row-center">
  <div class="col col-center">
    <div class="item item-avatar">
      <img src="mcfly.jpg">
      <h2>Sujith P Jose</h2>
      <p>Februvary 14, 1990</p>
    </div>
  </div>
</div>





<div class="row no-padding">

  <!-- Order Details -->
  <div class="col">
    <!-- table -->
    <div class="order-table">
      <div class="row header">
        <div class="col">Order Number</div>
        <div class="col">Name</div>
        <div class="col">Status</div>
      </div>
      <div class="row">
        <div class="col">123</div>
        <div class="col">Sujith P JOSE ASADASD</div>
        <div class="col">Delivered</div>
      </div>
      <div class="row">
        <div class="col">124</div>
        <div class="col">Sujith</div>
        <div class="col">Pending</div>
      </div>
    </div>
    <!-- table -->

  </div>


  <!-- Address details -->
  <div class="col col-33 card">
    <ul class="list">
      <li class="item">
        Pathilettu House
      </li>
      <li class="item">
        Landmark : Alpara
      </li>
      <li class="item">
        Post : Kannara P O
      </li>
      <li class="item">
        State : Thrissur
      </li>
    </ul>
  </div>
</div>


<!------------------- main content ------------------------------>